<app-top-navbar />
<main>
  <section>
    <div class="add-item">
      <form
        [formGroup]="addItem"
        (ngSubmit)="onSubmit()"
        class="add-item-group"
      >
        <fieldset>
          <legend>Add an item</legend>

          <div>
            <label for="productName">Product Name</label>
            <input id="productName" formControlName="productName" />
            <div
              *ngIf="
                addItem.get('productName')?.invalid &&
                addItem.get('productName')?.touched
              "
              class="warning"
            >
              *Product Name is required.
            </div>
          </div>

          <div>
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
            <div
              *ngIf="
                addItem.get('description')?.invalid &&
                addItem.get('description')?.touched
              "
              class="warning"
            >
              *Description is required.
            </div>
          </div>

          <div>
            <label for="price">Price</label>
            <input id="price" type="number" formControlName="price" />
            <div
              *ngIf="
                addItem.get('price')?.invalid && addItem.get('price')?.touched
              "
              class="warning"
            >
              *Enter a valid price (non-negative).
            </div>
          </div>

          <div>
            <label for="categoryName">Category</label>
            <input id="categoryName" formControlName="categoryName" />
            <div
              *ngIf="
                addItem.get('categoryName')?.invalid &&
                addItem.get('categoryName')?.touched
              "
              class="warning"
            >
              *Category is required.
            </div>
          </div>

          <div>
            <label for="brand">Brand</label>
            <input id="brand" formControlName="brand" />
            <div
              *ngIf="
                addItem.get('brand')?.invalid && addItem.get('brand')?.touched
              "
              class="warning"
            >
              *Brand is required.
            </div>
          </div>

          <div>
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" type="url" formControlName="imageUrl" />
            <div
              *ngIf="
                addItem.get('imageUrl')?.invalid &&
                addItem.get('imageUrl')?.touched
              "
              class="warning"
            >
              *Enter a valid URL ending in .png or .jpg.
            </div>
          </div>

          <div>
            <label for="rating">Rating</label>
            <input
              id="rating"
              type="number"
              formControlName="rating"
              min="0"
              max="5"
              step="0.1"
            />
            <div
              *ngIf="
                addItem.get('rating')?.invalid && addItem.get('rating')?.touched
              "
              class="warning"
            >
              *Enter a valid rating (0 to 5).
            </div>
          </div>

          <div>
            <button type="submit" [disabled]="addItem.invalid">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="update-item">
      <form
        [formGroup]="updateItem"
        (ngSubmit)="onSubmit()"
        class="update-item-group"
      >
        <fieldset>
          <legend>update an item</legend>

          <div>
            <label for="id">Product ID</label>
            <input id="id" formControlName="id" />
            <div
              *ngIf="
                updateItem.get('id')?.invalid && updateItem.get('id')?.touched
              "
              class="warning"
            >
              *Product ID is required.
            </div>
          </div>

          <div>
            <label for="productName">Product Name</label>
            <input id="productName" formControlName="productName" />
            <div
              *ngIf="
                updateItem.get('productName')?.invalid &&
                updateItem.get('productName')?.touched
              "
              class="warning"
            >
              *Product Name is required.
            </div>
          </div>

          <div>
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
            <div
              *ngIf="
                updateItem.get('description')?.invalid &&
                updateItem.get('description')?.touched
              "
              class="warning"
            >
              *Description is required.
            </div>
          </div>

          <div>
            <label for="price">Price</label>
            <input id="price" type="number" formControlName="price" />
            <div
              *ngIf="
                updateItem.get('price')?.invalid &&
                updateItem.get('price')?.touched
              "
              class="warning"
            >
              *Enter a valid price (non-negative).
            </div>
          </div>

          <div>
            <label for="categoryName">Category</label>
            <input id="categoryName" formControlName="categoryName" />
            <div
              *ngIf="
                updateItem.get('categoryName')?.invalid &&
                updateItem.get('categoryName')?.touched
              "
              class="warning"
            >
              *Category is required.
            </div>
          </div>

          <div>
            <label for="brand">Brand</label>
            <input id="brand" formControlName="brand" />
            <div
              *ngIf="
                updateItem.get('brand')?.invalid &&
                updateItem.get('brand')?.touched
              "
              class="warning"
            >
              *Brand is required.
            </div>
          </div>

          <div>
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" type="url" formControlName="imageUrl" />
            <div
              *ngIf="
                updateItem.get('imageUrl')?.invalid &&
                updateItem.get('imageUrl')?.touched
              "
              class="warning"
            >
              *Enter a valid URL ending in .png or .jpg.
            </div>
          </div>

          <div>
            <label for="rating">Rating</label>
            <input
              id="rating"
              type="number"
              formControlName="rating"
              min="0"
              max="5"
              step="0.1"
            />
            <div
              *ngIf="
                updateItem.get('rating')?.invalid &&
                updateItem.get('rating')?.touched
              "
              class="warning"
            >
              *Enter a valid rating (0 to 5).
            </div>
          </div>

          <div>
            <button type="submit" [disabled]="updateItem.invalid">
              Submit
            </button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="update-item">
      <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="id">Enter ID to Delete:</label>
          <input id="id" formControlName="id" type="text" />
        </div>

        <div
          *ngIf="deleteForm.get('id')?.invalid && deleteForm.get('id')?.touched"
          class="error"
        >
          <small *ngIf="deleteForm.get('id')?.hasError('required')"
            >ID is required.</small
          >
          <small *ngIf="deleteForm.get('id')?.hasError('pattern')"
            >ID cannot contain spaces.</small
          >
        </div>

        <button type="submit" [disabled]="deleteForm.invalid"><mat-icon>delete</mat-icon></button>
        
      </form>
    </div>
  </section>
  <section>
    <div class="product-list">
      <app-product-card
        *ngFor="let product of products"
        (selectProduct)="onSelectProduct(product.id)"
        [ngClass]="{
          blurred: selectedProductId && !isProductSelected(product.id)
        }"
      >
      </app-product-card>
    </div>
  </section>
</main>
