body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding-top: 60px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #007bff; 
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: 60px; 
  z-index: 1000; 
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.brand:hover {
  color: #dfe6e9;
}

/* .search-box {
  padding-top: 20px;
  flex-grow: 1;
  height: auto;
} */

.mat-form-field {
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s ease;
}

.mat-form-field .mat-form-field-outline {
  border-width: 10px;
  border-color: white; 
}

.mat-form-field .mat-input-element {
  background-color: white; 
  color: #007bff; 
  }
.mat-form-field.focus .mat-form-field-outline {
  border-color: #007bff; 
}

.mat-form-field:hover .mat-form-field-outline-start,
.mat-form-field:hover .mat-form-field-outline-end {
  border-color: #3ba7ff; 
}
.navbar-actions button {
  color: #007bff; 
  background-color: white; 
  border: 1px solid #007bff; 
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1rem;
}

.navbar-actions button:hover {
  background-color: #007bff; 
  color: white;
}

.navbar-actions button mat-icon {
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

.navbar-actions button:hover mat-icon {
  color: white; 
}
