<div class="sidebar">
  <div class="filter-section">
    <button (click)="toggleDropdown('brandDropdown')" class="filter-btn">
      Brand
    </button>
    <div *ngIf="showDropdowns['brandDropdown']" class="dropdown">
      <ul>
        <li *ngFor="let brand of brands">{{ brand }}</li>
      </ul>
    </div>
  </div>

  <div class="filter-section">
    <button (click)="toggleDropdown('ratingDropdown')" class="filter-btn">
      Rating
    </button>
    <div *ngIf="showDropdowns['ratingDropdown']" class="dropdown">
      <ul>
        <li *ngFor="let rating of ratings">{{ rating }}</li>
      </ul>
    </div>
  </div>

  <div class="filter-section">
    <button (click)="toggleDropdown('categoryDropdown')" class="filter-btn">
      Category
    </button>
    <div *ngIf="showDropdowns['categoryDropdown']" class="dropdown">
      <ul>
        <li *ngFor="let category of categories">{{ category }}</li>
      </ul>
    </div>
  </div>

  <div class="filter-section">
    <button (click)="toggleDropdown('priceRangeDropdown')" class="filter-btn">
      Price Range
    </button>
    <div *ngIf="showDropdowns['priceRangeDropdown']" class="dropdown">
      <mat-slider
    min="0"
    max="1000"
    step="10"
    thumbLabel
    tickInterval="100"
    [(ngModel)]="priceRange"
    (input)="onPriceChange()">
    <input matSliderStartThumb>
    <input matSliderEndThumb>
  </mat-slider>

    <div class="price-range-label">
      <span>Min Price: ${{ minPrice }}</span> 
      <span style="margin-left: 10px;">Max Price: ${{ maxPrice }}</span>
    </div>
    
    <div class="selected-price">
      <span>Selected Price: ${{ priceRange }}</span>
    </div>
    </div>
  </div>


</div>


